<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Confirmation</title>
</head>
<body>
    <div class="container mt-5">
        <h1>Confirmation de Soumission</h1>
        <p>Votre panne a été soumise avec succès !</p>
        <a href="{% url 'soumettre_panne' %}" class="btn btn-primary">Soumettre une autre panne</a>
    </div>
</body>
</html>

